<%- include('header') %>
<h1> here is new entry</h1>

<form action="/campground" method="POST">
<input type="text" name="name" placeholder="name">
<input type="text" name="img" placeholder="img">
<button>submit</button>
</form>

<%- include('footer') %>